.list-group-item {
    padding: 0;
}
.panel {
    margin:0;
}
.panel-heading {
    padding: 5px;
}
.panel-title {
    display: inline;
}
.panel-title a {
    text-decoration: none;
}
.delete-item {
    padding: 1px 7px;
 }
.edit-item {
    padding: 1px 7px;
    margin-right: 5px;
}
.btn-custom {
    background-color: #79A3B0;
    color: white;
}
.tags {
    display: flex;
    flex-wrap: wrap;
}







