.list-group-item {
    padding: 0;
}
.panel {
    margin:0;
}
.tags {
    display: flex;
    flex-wrap: wrap;
}
.panel-title, .panel-title:hover, .panel-title:focus {
    text-decoration: none !important;
}

.panel-title {
    display: flex
}
