body {
    background: lightgrey;
}

.tag-list:hover {
    cursor: pointer;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.selected-tag {
    border: 5px solid red;
    font-weight: bold;
}